name: Build RealKing kernel (WebX Clang 19.1.5 + KernelSU-Next)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt install -y flex libncurses6

      - name: Checkout Kernel
        uses: actions/checkout@v4
        with:
          ref: m-staging
          fetch-depth: 1
          submodules: false
          clean: true

      - name: Download & Extract WebX Clang 19.1.5
        run: |
          CLANG_URL=$(curl -s https://raw.githubusercontent.com/v3kt0r-87/Clang-Stable/main/clang-weebx.txt)
          echo "Resolved Clang URL: $CLANG_URL"

          echo "Downloading WebX Clang..."
          wget "$CLANG_URL" -O weebx-clang.tar.gz

          echo "Extracting Clang..."
          mkdir -p clang
          tar -xvf weebx-clang.tar.gz -C clang

          echo "CLANG_PATH=$(pwd)/clang/bin" >> $GITHUB_ENV

          rm -f weebx-clang.tar.gz
          echo "WebX Clang setup done."

      - name: Integrate KernelSU-Next (Manual setup)
        run: |
          curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -
          echo "KernelSU-Next integration completed."

      - name: Build Kernel
        run: |
          cd $GITHUB_WORKSPACE

          export KERNEL_DEFCONFIG="munch_defconfig"
          export PATH="${{ env.CLANG_PATH }}:$PATH"
          export ARCH=arm64
          export SUBARCH=ARM64
          export KBUILD_BUILD_USER="lordputin"
          export KBUILD_BUILD_HOST="ubuntu"
          export KBUILD_COMPILER_STRING="$(${{ env.CLANG_PATH }}/clang --version | head -n1 | perl -pe 's/\\(http.*?\\)//g' | sed -e 's/  */ /g')"

          echo "**** Kernel defconfig is set to $KERNEL_DEFCONFIG ****"

          make $KERNEL_DEFCONFIG O=out CC=clang || true
          make -C out oldconfig || true

         make -j$(nproc --all) O=out \
         CC=clang \
         ARCH=arm64 \
         CROSS_COMPILE=aarch64-linux-gnu- \
         NM=llvm-nm \
         OBJDUMP=llvm-objdump \
         STRIP=llvm-strip \
         LD=ld.lld \
         LLVM=1 LLVM_IAS=1 || true
          
      - name: Upload Kernel Image (Image.gz only)
        uses: actions/upload-artifact@v4
        with:
         name: Image.gz
         path: out/arch/arm64/boot/Image.gz
